.borde{
    border: 1px black solid;
    border-radius: 25px;
    background-color: beige;
}

h3{
    text-decoration: underline;
    background-color: #c0d219;
    text-align: center;
}

.eliminar{
    color: blue; 
    text-decoration: underline;
}