<div class="container">

    <!--Datos personales-->
    <div class="row centrar">
        <h4>Información de la página</h4>
        <p>Autor: David Campos Magro</p>
        <p>Curso: 2º DAW</p>
        <p>Fecha: 7/3/2022</p>
    </div>
    <br>


    <!--Tecnologia-->
    <div class="row">
        <h4>Tecnologías utilizadas</h4>

        <p>Herramienta de desarrollo: Visual Studio Code</p>
        <p>BBDD: Firebase</p>
        <div>
            <span>Librerías:</span>

            <ul>
                <li>Bootstrap (última versión)</li>
                <li>Firebase Service (última versión)</li>
                <li>Firebase Auth Service (última versión)</li>
                <li>Firebase Storage Service (última versión)</li>
            </ul>
        </div>

        <br>
        <h5 class="centrar">Plugins de VSCode</h5>
        <table class="table-bordered">

            <tr>
                <th>Plugin</th>
                <th>Descripción</th>
                <th>Versión</th>
            </tr>

            <tr>
                <td>Angular Language Service</td>
                <td>Esta extensión proporciona una rica experiencia de edición para plantillas Angular, tanto plantillas
                    en línea como externas, que incluyen:
                    <ul>
                        <li>Listas de terminaciones</li>
                        <li>Mensajes de diagnóstico AOT</li>
                        <li>Información rápida</li>
                        <li>ir a definición</li>
                    </ul>
                </td>

                <td>15.2.0</td>
            </tr>

            <tr>
                <td>Bootstrap 4, Font awesome 4, Font Awesome 5 Free & Pro snippets</td>
                <td>Autocompletar de clases de bootstrap 4, las cuales son iguales o parecidas en bootstrap 5</td>
                <td>6.1.0</td>
            </tr>

            <tr>
                <td>Error Lens</td>
                <td>Mejora la visibilidad de los errores en varios lenguajes</td>
                <td>3.7.0</td>
            </tr>

            <tr>
                <td>IntelliSense for CSS class names in HTML</td>
                <td>Autocompletar de atributos de CSS</td>
                <td>1.20.0</td>
            </tr>

            <tr>
                <td>vscode-icons</td>
                <td>Añade/cambia los iconos a todas las carpetas y archivos del proyecto importado, facilitando la
                    comprensión</td>
                <td>12.2.0</td>
            </tr>
            <br>
        </table>
    </div>

    <!--Directivas-->
    <div class="row">
        <h4>Directivas usadas</h4>

        <table class="table-bordered">
            <tr>
                <th>Directiva</th>
                <th>Ubicación</th>
            </tr>
            <tr>
                <td>Directiva ngIf</td>
                <td>
                    <ul>
                        <li>Carrito component:
                            <ul>
                                <li>Línea 4</li>
                                <li>Línea 45</li>
                            </ul>
                        </li>

                        <li>Guitarras component:
                            <ul>
                                <li>Línea 14</li>
                            </ul>
                        </li>


                        <li>Login component:
                            <ul>
                                <li>Línea 14</li>
                            </ul>
                        </li>


                        <li>Navbar component:
                            <ul>
                                <li>Línea 21</li>
                                <li>Línea 32</li>
                                <li>Línea 53</li>
                            </ul>
                        </li>

                        <li>Piano component:
                            <ul>
                                <li>Línea 19</li>
                            </ul>
                        </li>

                        <li>Update-prod component:
                            <ul>
                                <li>Línea 17-23</li>
                                <li>Línea 40</li>
                            </ul>
                        </li>


                        <li>Viento-madera component:
                            <ul>
                                <li>Línea 17</li>
                            </ul>
                        </li>


                        <li>Viento-metal component:
                            <ul>
                                <li>Línea 16</li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Directiva ngStyle</td>
                <td>
                    <ul>
                        <li> Login component:
                            <ul>
                                <li>Línea 14</li>
                            </ul>
                        </li>
                    </ul>

                </td>
            </tr>


            <tr>
                <td>Directiva ngFor</td>
                <td>
                    <ul>
                        <li> Carrito component:
                            <ul>
                                <li>Línea 8</li>
                            </ul>
                        </li>

                        <li> Guitarras component:
                            <ul>
                                <li>Línea 8</li>
                            </ul>
                        </li>

                        <li> Home component:
                            <ul>
                                <li>Línea 12</li>
                                <li>Línea 39</li>
                                <li>Línea 65</li>
                                <li>Línea 91</li>
                            </ul>
                        </li>

                        <li>Navbar component:
                            <ul>
                                <li>Línea 8</li>
                            </ul>
                        </li>

                        <li> Pianos component:
                            <ul>
                                <li>Línea 13</li>
                            </ul>
                        </li>

                        <li> Viento-madera component:
                            <ul>
                                <li>Línea 10</li>
                            </ul>
                        </li>

                        <li> Viento-metal component:
                            <ul>
                                <li>Línea 10</li>
                            </ul>
                        </li>
                    </ul>

                </td>
            </tr>
            <br>
        </table>
    </div>



    <!--Cuentas-->
    <div class="row">
        <h4>Cuentas de usuarios</h4>
        <br>
        <table class="table-bordered">
            <tr>
                <th>Correo</th>
                <th>Contraseña</th>
                <th>Descripción</th>
            </tr>
            <tr>
                <td>david.campos.magro.alu@iesjulioverne.es</td>
                <td>david123</td>
                <td><strong>Administrador</strong></td>
            </tr>

            <tr>
                <td>usuarionormal@gmail.com</td>
                <td>david123</td>
            </tr>
            <br>
        </table>


    </div>

    <!--Bibliografía-->
    <div class="row">
        <h4>Bibliografía</h4>

        <ul>
            <li><a
                    href="https://medium.com/dottech/c%C3%B3mo-crear-y-configurar-un-proyecto-con-firebase-y-angular-d2d5a7c50cef">Como
                    crear y configurar un proyecto con firebase y angular</a></li>
            <li><a href="https://angular.io/docs">Angular</a></li>
            <li><a href="https://www.youtube.com/watch?v=lTOQ7Fjhcvk">Barra de búsqueda</a></li>
            <li><a href="https://oscarb74.bitbucket.io/DWEC/DWEC_06/">Apuntes de clase</a></li>
        </ul>
    </div>
</div>