h3{
    text-decoration: underline;
    background-color: #c0d219;
    text-align: center;
}
.horizontal {
    display: flex;
    justify-content: space-between;
}

th{
    align-items: center;
    text-align: center;
}
